body {
    background-image:url("plane.jpg");
    background-size: cover;
    background-attachment: fixed; 
    /*background-color: #e1f4f3;*/
}
.booking-form-box{
	max-width: 350px;
	border: 1px solid #ced4da;
	margin: 10% auto 30 ;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

h2 {
    color: white;
    margin-top: 100px;
    text-align: center;
}
h3{
    color: white;
}

/*a:hover {
    color: #f0f0f0;
  }*/

.sub{
	width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600 ;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
