body{
	background-image: url("airplane.jpg");
	background-size: cover;
	background-position: center;
}

.booking-form-box{
	max-width: 400px;
	border: 2px solid #ced4da;
	/*border: 1px solid grey;*/
	margin: 3% auto 30 ;
}
.booking-form{
	padding: 20px 30px 40px;
}
.booking-form label{
	margin-bottom: 5px ;
	margin-top: 10px;
	font-size: 25px ;
	font-weight: 600;
	color: #035368;
}
.input-grp{
	width: 150px;
	display: inline-block;
}
.form-control{
	font-size: 16px ;
	border-radius: 0 ;
	box-shadow: none;
}
.sub{
    width: 200px ;
    padding: 7px ;
    font-size: 16px ;
    font-family: sans-serif ;
    font-weight: 600 ;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

h3{
	color: black;
	font-size: 22px;
}

h2{
	font-size: 50px;
	color: purple;
	text-align: center;

}

