<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Prediction</title>

    <!-- css -->
    
    <link rel="stylesheet" href="static/css/styles.css">

</head>


<body>

    <h2>Predict the Flight Fare</h2>
	<div class="booking-form-box">

	<form action="\predict" method="post">
		
		<div class="booking-form">
			
            <div class="input-grp">
                <label>Source </label><br>
			    <!-- <input type="text" class="form-control" placeholder="City" required="required"> -->
			    <select name="Source" class="form-control" required="required">
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                </select><br><br>
            </div>

			<div class="input-grp">
                <label> Destination </label><br>
			    <!-- <input type="text" class="form-control" placeholder="City" required="required"> -->
			    <select name="Destination" class="form-control" required="required">
                                <option value="Cochin">Cochin</option>
                                <option value="Delhi">Delhi</option>
                                <!-- <option value="New Delhi">New Delhi</option> -->
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                </select><br><br>
            </div>

			<div>
				<label> Departure Date </label><br>
				<input type="datetime-local" name="Departure_time" class="form-control select-date" required="required">
			</div><br><br>

			<div>
				<label> Arrival Date </label><br>
				<input type="datetime-local" name="Arrival_time" class="form-control select-date" required="required">
			</div><br><br>

			<div>
				<label> Haults </label><br>
				<!-- Number of Haults -->
				<select class="form-control" name="stops" required="required">
                                <option value="0">Non-Stop</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                </select>
			</div><br><br>

			<div>
				<label> Airline </label><br>
				<!-- Airlines -->
				<select name="airline" class="form-control" required="required">
                                <option value="Jet Airways">Jet Airways</option>
                                <option value="IndiGo">IndiGo</option>
                                <option value="Air India">Air India</option>
                                <option value="Multiple carriers">Multiple carriers</option>
                                <option value="SpiceJet">SpiceJet</option>
                                <option value="Vistara">Vistara</option>
                                <option value="Air Asia">Air Asia</option>
                                <option value="GoAir">GoAir</option>
                                <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option value="Jet Airways Business">Jet Airways Business</option>
                                <option value="Vistara Premium economy">Vistara Premium economy</option>
                                <option value="Trujet">Trujet</option>
                            </select>
			</div><br><br>

				<input type="button" value="submit" class="sub"> Submit</input>
			

		</div>
	</form>

	<br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>

</div>

</body>
</html>

